*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

:focus {
  outline: none;
  outline-offset: 0;
  border: none;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 711px 398px;
  gap: 30px;
  align-items: end;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  padding: 1.5px;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
  width: 225px;
  color: #fff;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
}

.search-form__label:hover {
  cursor: pointer;
  text-underline-offset: 4px;
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  align-self: center;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox {
  outline: 1px solid #000;
  outline-offset: -2px;
  background-color: #fff;
}

.content__details {
  width: 399px;
  height: 100%;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content__list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.content__list::-webkit-scrollbar-thumb {
  background: #464646;
}

.title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 75px;
  margin-bottom: 26px;
  line-height: 0.94;
}

.button {
  font-family: inherit;
  width: 194px;
  font-size: 18px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

.button:active {
  background-color: #545050;
  text-decoration: underline;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:focus {
  text-decoration: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  margin-top: 20px;
}

.content__list-item {
  width: 394px;
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.content__video-card-description-container {
  min-width: 200px;
}

.content__card-link {
  display: block;
  color: #fff;
  margin: 2px;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.15;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-size: 18px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
}

.more-button {
  width: 100%;
  padding: 5px 0;
}
